*
{
    font-family:"Poppins",sans-serif;
}
header{
    height: 100vh;
    background-image: url("../img/tigre.jpg");
    background-size: cover;
}

a{
    transition: color .5s ease;
    font-size: 1.3rem;
}

a:hover{
    color:rgba(24, 24, 24, 0.986) !important;
}